nav {
	background: rgba(116, 153, 184, 0.164);
	max-width: fit-content;
	padding: 0.7rem 1.75rem;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	bottom: 2rem;
	display: flex;
	gap: 1.1rem;
	border-radius: 3rem;
	backdrop-filter: blur(15px);
	font-size: 1.3rem;
}

nav a {
	color: var(--text-color-light);
}

nav a.active {
	color: var(--color-white);
}
